header{
  width: 100%;
  height: 61px;
  top: 31px;
  left: 0px;
  position: absolute;
}
  
#header .img{
  display: flex;
  align-items: center;
  justify-content: center;
}
  
#header .arrow{
  position: absolute;
  width: 1vw;
  height: 13px;
  left: 68px;
  top: 8px;
}
  
