body{
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  width: 100%;
  height: 61px;
  top: 31px;
  left: 0px;
  position: absolute;
}

#header .container{
  display: flex;
  position: absolute;
  width: 100%;
  height: 29px;
  top: 0px;
}

#header .img{
  display: flex;
  align-items: center;
  justify-content: center;
}

#header .arrow{
  position: absolute;
  width: 1vw;
  height: 13px;
  left: 68px;
  top: 8px;
}

#home{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#home .container{
  width: 100%;
  height: 820px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 90px;
}

#home .container .left .title h1{
  position: absolute;
  width: 497px;
  height: 100vh;
  left: 248px;
  top: 132px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: -0.02em;
  color: #151516;
}

#home .container .left .title h2{
  position: absolute;
  width: 311px;
  height: 21px;
  left: 248px;
  top: 167px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: -0.02em;
  color: #151516;
}

#home .container .left .card{
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 215px;
  height: 50px;
  left: 300px;
  top: 218px;
}

#home .container .left .card .iugu h1{
  width: 100px;
  position: absolute;
  left: 20%;
  top: 70%;
  font-size: 10px;
  color: #E1DEE8;
}

#home .container .left .card .iugu img{
  width: 28px;
  position: absolute;
  left: 58%;
  top: 75%;
}

#home .container .left .label{
  position: absolute;
  left: 248px;
  top: 300px;
  font-size: 12px;
}

#home .container .left .label form{
  width: 495px;
}

#home .container .left .label form .row{
  display: flex;
}

#home .container .left .label .inputBox span{
  font-size: 13px;
  color: #666173;
}

#home .container .left .label .inputBox{
  margin-bottom: 30px;
}

#home .container .left .label .inputBox input{
  cursor: pointer;
  outline: none;
  font-style: normal;
  letter-spacing: -0.02em;
  width: 100%;
  border:  #a9a1bd;
  padding: 10px 0px;
  font-size: 16px;
}

#home .container .left .label .flex{
  display: flex;
  gap: 02px;
}

#home .container .left .label .inputBox h1{
  width: 95%;
  height: 1px;
  border: 1px solid #F4F3F6;
  margin-top: 1px;
}

#home .container .left .label .submit-btn{
  width: 90%;
  font-size: 14px;
  padding: 12px;
  font-weight: 400;
  border-radius: 25px;
  background: #191847;
  color: #ffffff;
  height: 50px;
  margin-top: 5px;
  cursor: pointer;
  transition: all 0.2s ease;
}

#home .container .left .label .submit-btn:hover{
  transform: scale(1);
  border: 2px solid #302725;
  background: #1f1d69;
  color: #ffffff;
  font-weight: 400;
}

#home .container .right{
  /* background: red; */
  margin-left: 100px;
  margin-top: 27px;
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
}
#home .container .right .right2{
  margin-top: -50px;
  width: 330px;
  height: 100vh;
  display: flex;
  align-items: center;
  /* background: #302725; */
}

#home .container .right .email{
  /* border: #151516; */
  /* background: black; */
  box-sizing: border-box;
  position: absolute;
  width: 200px;
  height: 50px;
  font-size: 20px;
  top: 131px;
  
}

#home .container .right .email h2{
  width: 150px;
  height: 24px;
  top: 160px;
  font-size: 11px;
  font-weight: 400;
  margin-top: 6px;
  outline: none;
  border: 1px solid #F4F3F6;
  border-radius: 12px;
  color: #151516;
}

#home .container .right .email h3{
  width: 120px;
  height: 15px;
  margin-top: -20px;
  margin-left: 18.5px;
  font-size: 11px;
  font-weight: 400;
}

#home .right .card{
  position: absolute;
  width: 330px;
  font-family: 'DM Sans', sans-serif;
  height: 230px;
  top: 218px;
}

#home .right .card .line1{
  /* border: 1px solid red; */
  height: 100px; 
  border: 1px solid #191847;
  border-radius: 15px;
  display: flex;
  position: relative;
}

#home .right .card .line1 .containerText{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#home .right .card .line1 h1{
  margin:  0px 20px 0px;
  font-size: 14px;
  font-style: normal;
  line-height: 18px;
  width: 200px;
}

#home .right .card .line1 p{
  font-size: 12px;
  width: 200px;
  font-weight: 400;
  margin-left: 20px;
  font-style: normal;
  color: #191847;
  line-height: 16px;
}

#home .right .card .line1 .containerDiscountPercentage{
  width: 40px;
  height: 16px;
  left: 210px;
  top: 40.5px;
  position: absolute;
  background: #F5850B;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

#home .right .card .line1 .discountPercentage{
  font-size: 10px;
  color: #FFFFFF;
  font-weight: 400;
}

#home .right .card .line1 .containerInput{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#home .right .card .line1 .containerInput input{
  width: 16px;
  height: 15px;
  top: 38px;
  cursor: pointer;
}

#home .right .card .line1 h4{
  font-size: 10px;
  width: 180px;
  font-weight: 400;
  margin-left: 20px;
  margin-top: 5px;
  font-style: normal;
  color: #F5850B;
  line-height: 13px;
}

#home .container .right .right2 .about p{
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid blue; */
  /* justify-content: center; */
  /* align-items:end; */
  /* flex-direction: column; */
  font-size: 12px;
  /* position: absolute; */
  color: #151516;
  width: 150px;
margin-left: 80px;
  /* margin-top: 338px; */
}

#home .container .right .right2 .about img{
  /* position: absolute; */
  display: flex;
  flex-direction: column;
  width: 15px;
  margin-left: 210px;
  margin-top: -15px;
  cursor: pointer;
}

footer {
  /* background: blue; */
  font-family: 'DM Sans', sans-serif;
  height: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 31px;
}

#header2 .center{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#header2{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 1300px;
}

#header2 .ellipse{
  position: absolute;
  width: 60px;
  height: 60px;
  top: 150px;
  border-radius: 50px;
  border: 2px solid #F4F3F6;
}

#header2 .ellipse h2{
  margin-top: 15px;
  margin-left: 18px;
}

#header2 .success{
  width: 220px;
  height: 100px;
  margin-top: 850px;
}

#header2 .success h1{
  margin-left: 55px;
  font-family: 'Google Sans' sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #191847;
}

#header2 .success p{
  font-family: 'Google Sans' sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #C9C5D4;
  margin-left: -10px;
  margin-top: 11px;
}

#header2 .cards{
  width: 343px;
  height: 200px;
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
}

#header2 .cards .line{
  border: 1px solid rgb(241, 241, 241);
  width: 310px;
  height: 80px;
  margin: 16px;
  background: #F4F3F6;
  border-radius: 15px;
  transition: all 0.3s ease;

}

#header2 .cards .line:hover{
  transform: scale(1.1);
  border: none;
  background: #eceaf0;
  cursor: pointer;
}

#header2 .cards .line h1{
  font-family: 'Google Sans', sans-serif;
  margin-top: 13px;
  margin-right: 16px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  color: #191847;
}

#header2 .cards .line p{
  font-family: 'Google Sans', sans-serif;
  margin-top: 10px;
  margin-right: 14px;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-align: right;
  color: #191847;
}

#header2 .cards .line h2{
  width: 40px;
  height: 40px;
  margin-left: 25px;
  margin-top: -40px;
  background: #E1DEE8;
  border-radius: 50px;
}

#header2 .cards .line img{
  margin-left: 12px;
  margin-top: 11px;
}

#header2 .email{
  margin-top: 1px;
}

#header2 .email span{
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #C9C5D4;
  margin-left: 22px;
}

#header2 .email input{
  border: 1px rgb(56, 47, 47) solid;
  width: 160px;
  margin-left: 105px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #151516;
  outline: none;
  border: none;
  cursor: pointer;
}

#header2 .cpf{
  font-family:  sans-serif;
  margin-top: 15px;
}

#header2 .cpf span{
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #C9C5D4;
  margin-left: 22px;
}

#header2 .cpf input{
  border: 1px rgb(56, 47, 47) solid;
  width: 120px;
  margin-left: 167px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #151516;
  outline: none;
  border: none;
  cursor: pointer;
}

#header2 .signature{
  width: 152px;
  left: 705px;
  margin-top: 40px;
  font-weight: 700;
  font-size: 12px; 
  letter-spacing: 0.05em; 
  color: #191847;
}

#header2 .submit-btn{
  width: 310px;
  height: 50px;
  left: 615px;
  font-size: 12px;
  margin-top: 25px;
  background: #191847;
  color: #FFFFFF;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.2s ease;
}

#header2 .submit-btn:hover{
  transform: scale(1);
  border: 2px solid #302725;
  background: #1f1d69;
  font-weight: 400;
}

@media only screen and (max-width: 1300px) {
  header{
    width: 1300px;
    height: 61px;
    top: 31px;
    left: 0px;
    position: absolute;
  }
  #home {
    display: flex;
    width: 1300px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 900px;
  }
  #home .container .left {
    position: absolute;
    width: 497px;
    height: 100vh;
    left: -50px;
    top: 1px;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: -0.02em;
    color: #151516;
}
 #home .container .right .email{
    box-sizing: border-box;
    position: absolute;
    width: 200px;
    height: 50px;
    left: 750px;
    font-size: 20px;
    top: 131px;
}
 #home .right .card{
    position: absolute;
    width: 330px;
    font-family: 'DM Sans', sans-serif;
    left: 750px;
    height: 230px;
    top: 218px;
}
  #home .container .right .right2 .about p{
    font-size: 12px;
    position: absolute;
    color: #151516;
    width: 150px;
    left: 750px;
    top: 460px;
}
  #home .container .right .right2 .about img{
    position: absolute;
    width: 15px;
    left: 754px;
    top: 475px;
    cursor: pointer;
}
  #home .container .left .card .iugu img{
    left: 55%;
    top: 85%;
}
}

@media only screen and (max-width: 950px) {
  header{
    width: 900px;
    height: 61px;
    top: 31px;
    left: 0px;
    position: absolute;
  }
  #home {
    display: flex;
    width: 900px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 900px;
  }
  #home .container .left {
    width: 497px;
    height: 100vh;
    left: -230px;
    top: 1px;

  }
  #home .container .right .email{
    width: 200px;
    height: 50px;
    left: 550px;
  }
  #home .right .card{
    width: 330px;
    left: 550px;
    height: 230px;
    top: 218px;
}
#home .container .right .right2 .about p{
  font-size: 12px;
  position: absolute;
  color: #151516;
  width: 150px;
  left: 500px;
  top: 460px;
}
#home .container .right .right2 .about img{
  position: absolute;
  width: 15px;
  left: 400px;
  top: 475px;
  cursor: pointer;
}

  #home .container .left .card .iugu img{
    width: 28px;
    position: absolute;
    left: 55%;
    top: 85%;
}

@media only screen and (max-width: 800px) {
  #home .container .right .right2 .about p{
    font-size: 12px;
    position: absolute;
    color: #151516;
    width: 150px;
    margin-left: 130px;
    top: 460px;
  }
  #home .container .right .right2 .about img{
    position: absolute;
    width: 15px;
    left: 550px;
    top: 475px;
    cursor: pointer;
  }
}

@media only screen and (max-width: 949px) {
  #home .container .right .right2 .about p{
    font-size: 12px;
    position: absolute;
    color: #151516;
    width: 150px;
    margin-left: 130px;
    top: 460px;
  }
  #home .container .right .right2 .about img{
    position: absolute;
    width: 15px;
    left: 550px;
    top: 475px;
    cursor: pointer;
  }
}

@media only screen and (max-width: 600px) {
  header{
    width: 600px;
    height: 61px;
    top: 31px;
    left: 0px;
    position: absolute;
  }
  #home {
    display: flex;
    width: 600px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 1400px;
  }
  #home .container .left {
    display: flex;
    align-items: center;
    position: absolute;
    width: 497px;
    height: 100vh;
    margin-left: 50px;
    top: 400px;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: -0.02em;
    color: #151516;
  }
  #home .container .right .email{
    box-sizing: border-box;
    position: absolute;
    width: 200px;
    height: 50px;
    margin-left: -350px;
    font-size: 20px;
    top: 131px;
  }
  #home .right .card{
    position: absolute;
    width: 330px;
    font-family: 'DM Sans', sans-serif;
    margin-left: -410px;
    height: 230px;
    top: 218px;
}

#home .container .right .right2 .about p{
  font-size: 12px;
  position: absolute;
  color: #151516;
  width: 150px;
  margin-left: -285px;
  top: 460px;
}
#home .container .right .right2 .about img{
  position: absolute;
  width: 15px;
  margin-left: -200px;
  top: 475px;
  cursor: pointer;
}
}
}

@media only screen and (max-width: 600px) {
  footer{
    width: 600px;
  }
}